﻿@{
    ViewData["Title"] = "Amazon S3 Test";

    var apiBaseUtl = ViewBag.ApiBaseUrl;
    Guid guid = Guid.NewGuid();
}


<div class="text-center">
    <h3 class="font-weight-bold">Amazon S3 Test Operations</h3>

</div>
<div class="card">
    <div class="card-header bg-info ">
        <b class="text-light">List Buckets</b>
    </div>
    <div class="card-body">
        <form name="frmGetBucketsList" id="frmGetBucketsList" action="@apiBaseUtl">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Get Amazon Buckets List" />
            </div>
            <div class="form-group">
                <textarea rows="5" cols="80" name="bucketsListResult" id="bucketsListResult">

        </textarea>
            </div>
        </form>

    </div>
</div>
<div class="card">

    <div class="card-header bg-info ">
        <b class="text-light">Add New Bucket</b>
    </div>
    <div class="card-body">
        <form name="frmCreateS3Bucket" id="frmCreateS3Bucket" action="@apiBaseUtl">
            <div class="form-group">
                <label>Enter Bucket name</label>
                <input type="text" class="form-control" name="bucketName" id="bucketName" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Create Amazon Bucket" />
            </div>
            <div class="form-group">
                <textarea rows="5" cols="80" name="createBucketResult" id="createBucketResult">

        </textarea>
            </div>
        </form>

    </div>
</div>
<div class="card">
    <div class="card-header bg-info ">
        <b class="text-light"> Delete Bucket</b>
    </div>

    <div class="card-body">
        <form name="frmDeleteS3Bucket" id="frmDeleteS3Bucket" action="@apiBaseUtl">
            <div class="form-group">
                <label>Select Bucket To Delete</label>
                <select class="form-control" name="bucketname" id="deleteBucketsList"></select>

            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Delete Amazon Bucket" />
            </div>
            <div class="form-group">
                <textarea rows="5" cols="80" name="deleteBucketResult" id="deleteBucketResult">

        </textarea>
            </div>
        </form>

    </div>
</div>




@section scripts{
    <script src="~/notify/notify.js"></script>
    <script>
        $(function() {  // upload the list of buckets
            $form = $('#frmGetBucketsList');
            var url =  $form.attr('action') + "api/bucket/list";
            console.log(url);
            $.ajax({
                type: "Get",
                url: url,
                dataType: 'json',
                success: function (response) {
                    $.each(response, function (i, item) {
                        $('#bucketsList').append($('<option>', {
                            value: item.bucketName,
                            text : item.bucketName
                        }));
                        $('#deleteBucketsList').append($('<option>', {
                            value: item.bucketName,
                            text : item.bucketName
                        }));
                        
                    });

                    $.notify('success!!', 'success');
                    
                },
                error: function (error) {
                    $.notify("error", 'error');
                    
                }
            });
        });

        ///////////////////////////////////

        debugger;
        $('#frmGetBucketsList').submit(function() {
            debugger;
            event.preventDefault();
            $form = $(this);
            var url =  $form.attr('action') + "api/bucket/list";
            console.log(url);

            $.ajax({
                type: "Get",
                url: url,
                dataType: 'json',
                success: function (response) {
                    $('#bucketsListResult').val(JSON.stringify(response));
                    $.notify('success!!', 'success');
                },
                error: function (error) {
                    $.notify("error", 'error');
                    $('#bucketsListResult').val(JSON.stringify(error));
                }
            });
        });


   ////////////////////////////////////////////////////

        $('#frmDeleteS3Bucket').submit(function() {
            debugger;
            event.preventDefault();
            $form = $(this);
            var bucketName = $('#deleteBucketsList').val();
            var url =  $form.attr('action') + "api/bucket/delete/" + bucketName;
            console.log(url);

            $.ajax({
                type: "DELETE",
                url: url,
                dataType: 'json',
                success: function (response) {
                    $.notify('success!!', 'success');
                    $('#deleteBucketResult').val(JSON.stringify(response));
                    
                },
                error: function (error) {
                    $.notify("error", 'error');
                    $('#deleteBucketResult').val(JSON.stringify(error));
                }
            });
        });
        debugger;
        ////////////////////////////////////////////////

        $('#frmCreateS3Bucket').submit(function() {
            debugger;
            event.preventDefault();
            $form = $(this);
            var url = $form.attr('action') + "api/bucket/create/" + $('#bucketName').val();
            console.debug(url);
            var data = $form.serialize();
            console.log(data);
            $.ajax({
                type: "POST",
                url: url,
                // data: data,
                dataType: 'json',
                success: function (response) {
                    $('#createBucketResult').val(JSON.stringify(response));
                    $.notify('success!!', 'success');
                },
                error: function (error) {
                    $.notify("error", 'error');
                    $('#createBucketResult').val(JSON.stringify(error));
                }
            });
        });

   ////////////////////////////////////////////
      
    </script>
}
