﻿@{
    ViewData["Title"] = "Amazon S3 Test";

    var apiBaseUtl = ViewBag.ApiBaseUrl;
    Guid guid = Guid.NewGuid();
}


<div class="text-center">
    <h3 class="font-weight-bold">Amazon S3 Test Operations</h3>

</div>
<div class="card">
    <div class="card-header bg-info ">
        <b class="text-light">List Buckets</b>
    </div>
    <div class="card-body">
        <form name="frmGetBucketsList" id="frmGetBucketsList" action="@apiBaseUtl">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Get Amazon Buckets List" />
            </div>
            <div class="form-group">
                <textarea rows="5" cols="80" name="bucketsListResult" id="bucketsListResult">

        </textarea>
            </div>
        </form>

    </div>
</div>
<div class="card">

    <div class="card-header bg-info ">
        <b class="text-light">Upload Files</b>
    </div>
    <div class="card-body">
        <form name="frmAddFilesToBucket" id="frmAddFilesToBucket" action="@apiBaseUtl"  method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Select Bucket To Add File </label>
                <select class="form-control" name="addFilesToBucket" id="addFilesToBucket"></select>
            </div>
            <div class="form-group">
                <input type="file" class="btn btn-primary" value="Select Files" id="formFiles" name="formFiles" multiple/>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Upload Files to Bucket" />
            </div>
            <div class="form-group">
                <textarea rows="10" cols="160" name="uploadFilesResult" id="uploadFilesResult">

        </textarea>
            </div>
        </form>

    </div>
</div>
<div class="card">
    <div class="card-header bg-info ">
        <b class="text-light"> Delete Bucket</b>
    </div>

    <div class="card-body">
        <form name="frmDeleteS3Bucket" id="frmDeleteS3Bucket" action="@apiBaseUtl">
            <div class="form-group">
                <label>Select Bucket To Delete</label>
                <select class="form-control" name="bucketname" id="deleteBucketsList"></select>

            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Delete Amazon Bucket" />
            </div>
        </form>

    </div>
</div>
<div class="card">
    <div class="card-header bg-info ">
        <b class="text-light">Add Object To Bucket</b>
    </div>


    <div class=" card-body">
        <form name="frmAddObjectToBucket" id="frmAddObjectToBucket" action="@apiBaseUtl">
            <input type="hidden" name="id" value="@guid" id="bucketId" />
            <input type="hidden" name="timesent" id="timesent" value="@DateTime.UtcNow" />
            <div class="form-group">
                <label>Select Bucket name</label>
                <select class="form-control" name="bucketsList" id="bucketsList"></select>

            </div>
            <div class="form-group">
                <label>Object Data</label>
                <input type="text" class="form-control" name="Data" id="bucketData" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value=" Add Object To Bucket" />
            </div>
            <div class="form-group">
                <textarea rows="5" cols="80" name="btnAddObjectToBucket" id="btnAddObjectToBucket">

        </textarea>
            </div>
        </form>

    </div>
</div>
<div class="card">
    <div class="card-header bg-info ">
        <b class="text-light">Get Object From Bucket</b>
    </div>


    <div class=" card-body">
        <form name="frmGetObjectFromBucket" id="frmGetObjectFromBucket" action="@apiBaseUtl">

            <div class="form-group">
                <label>Select Bucket name</label>
                <select class="form-control" name="bucketsList" id="bucketsGetObject"></select>

            </div>
            <div class="form-group">
                <label>File Name</label>
                <input type="text" class="form-control" name="filename" id="filename" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Get Object From Bucket" />
            </div>
            <div class="form-group">
                <textarea rows="5" cols="80" name="txtGetObjectFromBucket" id="txtGetObjectFromBucket">

        </textarea>
            </div>
        </form>

    </div>
</div>
<div class="card">
    <div class="card-header bg-info ">
        <b class="text-light">Delete Object From Bucket</b>
    </div>
    <div class=" card-body">
        <form name="frmDeleteObjectFromBucket" id="frmDeleteObjectFromBucket" action="@apiBaseUtl">

            <div class="form-group">
                <label>Select Bucket name</label>
                <select class="form-control" name="bucketsList" id="bucketsDeleteObject"></select>

            </div>
            <div class="form-group">
                <label>File Name</label>
                <input type="text" class="form-control" name="delFileName" id="delFileName" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Get Object From Bucket" />
            </div>
            <div class="form-group">
                <textarea rows="5" cols="80" name="txtGetObjectFromBucket" id="txtDeleteObjectFromBucket">

        </textarea>
            </div>
        </form>

    </div>
</div>



@section scripts{
    <script src="~/notify/notify.js"></script>
    <script>
        $(function() {  // upload the list of buckets
            $form = $('#frmGetBucketsList');
            var url =  $form.attr('action') + "api/bucket/list";
            console.log(url);
            $.ajax({
                type: "Get",
                url: url,
                dataType: 'json',
                success: function (response) {
                    $.each(response, function (i, item) {
                        $('#bucketsList').append($('<option>', {
                            value: item.bucketName,
                            text : item.bucketName
                        }));
                        $('#addFilesToBucket').append($('<option>', {
                            value: item.bucketName,
                            text : item.bucketName
                        }));
                        $('#bucketsGetObject').append($('<option>', {
                            value: item.bucketName,
                            text : item.bucketName
                        }));
                        $('#bucketsDeleteObject').append($('<option>', {
                            value: item.bucketName,
                            text : item.bucketName
                        }));
                    });

                    $.notify('success!!', 'success');
                },
                error: function (error) {
                    $.notify("error", 'error');
                }
            });
        });

        ///////////////////////////////////

        debugger;
        $('#frmGetBucketsList').submit(function() {
            debugger;
            event.preventDefault();
            $form = $(this);
            var url =  $form.attr('action') + "api/bucket/list";
            console.log(url);

            $.ajax({
                type: "Get",
                url: url,
                dataType: 'json',
                success: function (response) {
                    $('#bucketsListResult').val(JSON.stringify(response));
                    $.notify('success!!', 'success');
                },
                error: function (error) {
                    $('#bucketsListResult').val(JSON.stringify(error));
                    $.notify("error", 'error');
                }
            });
        });

        $("#frmAddFilesToBucket").submit(function(e) {
            e.preventDefault();    
            var formData = new FormData(this);
            $form = $(this);
            var bucketName = $('#addFilesToBucket').val();
            var url =  $form.attr('action') + "api/files/" + bucketName + "/add" ;
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                success: function (response) {
                    $('#uploadFilesResult').val(JSON.stringify(response));
                    $.notify('success!!', 'success');
                },
                cache: false,
                contentType: false,
                processData: false,
                error: function (error) {
                    $('#uploadFilesResult').val(JSON.stringify(error));
                    $.notify("error", 'error');
                }
            });
        });
   ////////////////////////////////////////////////////

        $('#frmDeleteS3Bucket').submit(function() {
            debugger;
            event.preventDefault();
            $form = $(this);
            var bucketName = $('#deleteBucketsList').val();
            var url =  $form.attr('action') + "api/bucket/delete/" + bucketName;
            console.log(url);

            $.ajax({
                type: "DELETE",
                url: url,
                dataType: 'json',
                success: function (response) {
                    $.notify('succes!!', 'success');
                },
                error: function (error) {
                    $.notify("error", 'error');
                }
            });
        });
        debugger;
        ////////////////////////////////////////////////

        $('#frmCreateS3Bucket').submit(function() {
            debugger;
            event.preventDefault();
            $form = $(this);
            var url = $form.attr('action') + "api/bucket/create/" + $('#bucketName').val();
            console.debug(url);
            var data = $form.serialize();
            console.log(data);
            $.ajax({
                type: "POST",
                url: url,
                // data: data,
                dataType: 'json',
                success: function (response) {
                    $('#createBucketResult').val(JSON.stringify(response));
                    $.notify('succes!!', 'success');
                },
                error: function (error) {
                    $.notify("error", 'error');
                }
            });
        });

   ////////////////////////////////////////////
        debugger;
        $('#frmAddObjectToBucket').submit(function() {
            debugger;
            event.preventDefault();
            $form = $(this);

            var data = new FormData();
            data.append('id', $('#bucketId').val());
            data.append('timesent', $('#timesent').val());
            data.append('data', $('#bucketData').val());
            var bucketName = $('#bucketsList').val();
            var url = $form.attr('action') + "api/S3Objects/" + bucketName + "/addjsonobject";
            console.debug(url);

            console.log(data);
            $.ajax({
                type: "POST",
                url: url,
                contentType: false,
                processData: false,
                data: data,
                dataType: 'json',
                success: function (response) {
                    $('#createBucketResult').val(JSON.stringify(response));
                    $.notify('succes!!', 'success');
                },
                error: function (error) {
                    $.notify("error", 'error');
                }
            });
        });
        /////////////////////////////////////////

        $('#frmGetObjectFromBucket').submit(function() {
            debugger;
            event.preventDefault();
            $form = $(this);
            var bucketName = $('#bucketsList').val();
            var url = $form.attr('action') + "api/S3Objects/" + bucketName + "/getjsonobject";
            console.log(url);
             var data = $form.serialize();
            $.ajax({
                type: "Get",
                url: url,
                data: data,
                dataType: 'json',
                success: function (response) {
                    $('#txtGetObjectFromBucket').val(JSON.stringify(response));
                    $.notify('succes!!', 'success');
                },
                error: function (error) {
                    $.notify("error", 'error');
                }
            });
        });
        ///////////////////////////////

        $('#frmDeleteObjectFromBucket').submit(function() {
            debugger;
            event.preventDefault();
            $form = $(this);
            var bucketName = $('#bucketsList').val();
            var url = $form.attr('action') + "api/S3Objects/" + bucketName + "/deleteObject";
            console.log(url);
            var data = new FormData();
            data.append('delFileName', $('#delFileName').val());
            $.ajax({
                type: "POST",
                url: url,
                contentType: false,
                processData: false,
                data: data,
                dataType: 'json',
                success: function (response) {
                    $('#txtDeleteObjectFromBucket').val(JSON.stringify(response));
                    $.notify('succes!!', 'success');
                },
                error: function (error) {
                    $.notify("error", 'error');
                }
            });
        });
    </script>
}
