﻿<br/>

<div class="card">
    <div class="card-header text-center">
        <h3 class="font-weight-bold">Amazon S3 Test Operations</h3>

    </div>
    <div class="card-body">
        <h3 class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="BucketManager">Bucket Manager</a>
        </h3>
        <h3 class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="ObjectManager">Object Manager</a>
        </h3>
        <h3 class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="FileManager">File Manager</a>
        </h3>

    </div>
</div>

