﻿@{
    ViewData["Title"] = "Amazon S3 Test";

    var apiBaseUtl = ViewBag.ApiBaseUrl;
    Guid guid = Guid.NewGuid();
}


<div class="text-center">
    <h3 class="font-weight-bold">Amazon S3 Test Operations</h3>

</div>
<form name="frmGetBucketsList" id="frmGetBucketsList" action="@apiBaseUtl">
     
</form>
<div class="card">
    <div class="card-header bg-info ">
        <b class="text-light">Add Object To Bucket</b>
    </div>


    <div class=" card-body">
        <form name="frmAddObjectToBucket" id="frmAddObjectToBucket" action="@apiBaseUtl">
            <input type="hidden" name="id" value="@guid" id="bucketId" />
            <input type="hidden" name="timesent" id="timesent" value="@DateTime.UtcNow" />
            <div class="form-group">
                <label>Select Bucket name</label>
                <select class="form-control" name="addObjectToBucket" id="addObjectToBucket"></select>

            </div>
            <div class="form-group">
                <label>Object Data</label>
                <input type="text" class="form-control" name="Data" id="bucketData" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value=" Add Object To Bucket" />
            </div>
            <div class="form-group">
                <textarea rows="5" cols="80" name="addObjectToBucketResult" id="addObjectToBucketResult">

        </textarea>
            </div>
        </form>

    </div>
</div>
<div class="card">
    <div class="card-header bg-info ">
        <b class="text-light">Get Object From Bucket</b>
    </div>


    <div class=" card-body">
        <form name="frmGetObjectFromBucket" id="frmGetObjectFromBucket" action="@apiBaseUtl">

            <div class="form-group">
                <label>Select Bucket name</label>
                <select class="form-control" name="bucketGetObject" id="bucketGetObject"></select>

            </div>
            <div class="form-group">
                <label>File Name</label>
                <input type="text" class="form-control" name="filename" id="filename" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Get Object From Bucket" />
            </div>
            <div class="form-group">
                <textarea rows="5" cols="80" name="txtGetObjectFromBucket" id="txtGetObjectFromBucket">

        </textarea>
            </div>
        </form>

    </div>
</div>
<div class="card">
    <div class="card-header bg-info ">
        <b class="text-light">Delete Object From Bucket</b>
    </div>
    <div class=" card-body">
        <form name="frmDeleteObjectFromBucket" id="frmDeleteObjectFromBucket" action="@apiBaseUtl">

            <div class="form-group">
                <label>Select Bucket name</label>
                <select class="form-control" name="bucketsDeleteObject" id="bucketsDeleteObject"></select>

            </div>
            <div class="form-group">
                <label>File Name</label>
                <input type="text" class="form-control" name="delFileName" id="delFileName" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Delete Object From Bucket" />
            </div>
            <div class="form-group">
                <textarea rows="5" cols="80" name="txtGetObjectFromBucket" id="txtDeleteObjectFromBucket">

        </textarea>
            </div>
        </form>

    </div>
</div>



@section scripts{
    <script src="~/notify/notify.js"></script>
    <script>
        $(function() {  // upload the list of buckets
            debugger;
            $form = $('#frmGetBucketsList');
            var url =  $form.attr('action') + "api/bucket/list";
            console.log(url);
            $.ajax({
                type: "Get",
                url: url,
                dataType: 'json',
                success: function (response) {
                    $.each(response, function (i, item) {
                        
                        $('#addObjectToBucket').append($('<option>', {
                            value: item.bucketName,
                            text : item.bucketName
                        }));
        
                        $('#bucketGetObject').append($('<option>', {
                            value: item.bucketName,
                            text : item.bucketName
                        }));

                        $('#bucketsDeleteObject').append($('<option>', {
                            value: item.bucketName,
                            text : item.bucketName
                        }));
                    });

                    $.notify('success!!', 'success');
                },
                error: function (error) {
                    $.notify(error, 'error');
                }
            });
        });


      
        ////////////////////////////////////////////////


   ////////////////////////////////////////////
      
        $('#frmAddObjectToBucket').submit(function() {
            debugger;
            event.preventDefault();
            $form = $(this);

            var data = new FormData();
            data.append('id', $('#bucketId').val());
            data.append('timesent', $('#timesent').val());
            data.append('data', $('#bucketData').val());
            var bucketName = $('#bucketGetObject').val();
            var url = $form.attr('action') + "api/S3Objects/" + bucketName + "/addjsonobject";
            console.debug(url);

            console.log(data);
            $.ajax({
                type: "POST",
                url: url,
                contentType: false,
                processData: false,
                data: data,
                dataType: 'json',
                success: function (response) {
                    $('#addObjectToBucketResult').val(JSON.stringify(response));
                    $.notify('success!!', 'success');
                },
                error: function (error) {
                    $.notify("error", 'error');
                    $('#addObjectToBucketResult').val(JSON.stringify(error));
                }
            });
        });
        /////////////////////////////////////////

        $('#frmGetObjectFromBucket').submit(function() {
            debugger;
            event.preventDefault();
            $form = $(this);
            var bucketName = $('#bucketsDeleteObject').val();
            var url = $form.attr('action') + "api/S3Objects/" + bucketName + "/getjsonobject";
            console.log(url);
             var data = $form.serialize();
            $.ajax({
                type: "Get",
                url: url,
                data: data,
                dataType: 'json',
                success: function (response) {
                    $('#txtGetObjectFromBucket').val(JSON.stringify(response));
                    $.notify('success!!', 'success');
                },
                error: function (error) {
                    $.notify("error", 'error');
                    $('#txtGetObjectFromBucket').val(JSON.stringify(error));
                }
            });
        });
        ///////////////////////////////

        $('#frmDeleteObjectFromBucket').submit(function() {
            debugger;
            event.preventDefault();
            $form = $(this);
            var bucketName = $('#bucketsDeleteObject').val();
            var url = $form.attr('action') + "api/S3Objects/" + bucketName + "/deleteObject";
            console.log(url);
            var data = new FormData();
            data.append('delFileName', $('#delFileName').val());
            $.ajax({
                type: "POST",
                url: url,
                contentType: false,
                processData: false,
                data: data,
                dataType: 'json',
                success: function (response) {
                    $('#txtDeleteObjectFromBucket').val(JSON.stringify(response));
                    $.notify('success!!', 'success');
                },
                error: function (error) {
                    $.notify("error", 'error');
                    $('#txtDeleteObjectFromBucket').val(JSON.stringify(error));
                }
            });
        });
    </script>
}
